<!doctype html>

<html>
  <head>
    <title>Troy Tips</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
  </head>

  <body>
    <div class="container">
      <h1><a href="/">Troy Tips</a></h1>

      <hr/>

      <form method="POST" action="/tip/new">
        <textarea class="text-input content-input" placeholder="What tip do you have?" name="content"><%= content %></textarea>
        <input type="text" placeholder="Your Name" class="text-input name-input" name="author" value="<%= author %>"/>

        <div class="submit-input">
          <input type="submit" class="submit-btn"/>
        </div>

        <% if (locals.errors) { %>
          <div class="error">
            <% for(var i = 0;i < errors.length; i++) { %>
              <p><%= errors[i] %></p>
            <% } %>
          </div>
        <% } %>
      </form>

      <hr/>

      <div class="tips">
        <% for(var i = 0; i < tips.length; i++) { %>
          <div class="tip">
              <p class="content"><%= tips[i].content %></p>

              <p class="details">
                <b>
                  - <%= tips[i].author %>
                </b>

                <br/>

                <a href="/tip/<%= tips[i]._id %>" class="permalink">
                  <%= moment(tips[i].created).format('MMMM DD, hh:mm a') %>
                </a>
              </p>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
